.clients-section {
    text-align: center;
    padding: 100px 0;
    background-color: #ffffff;
    margin-left: 20px;

  }
  
  .clients-title {
    font-size: 32px;
    color: #4a3f5c;
    margin-bottom: 10px;
  }
  
  .clients-subtitle {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
  }
  
  .clients-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100px;
  }
  
  .clients-track {
    display: flex;
    animation: move-right 15s linear infinite;  
  }
  
  .client-logo {
    flex-shrink: 0;
    width: 150px;
    margin: 0 10px;
  }
  
  .client-logo img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  
  .client-logo:hover img {
    opacity: 1;
  }
  
  /* Animation */
  @keyframes move-right {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(0.5%); 
    }
  }
  